<link href="~/Content/Manage/general.css" rel="stylesheet" />

<a href="" class="widget orders-widget">
    <h2>Избранное</h2>
    <p>Вы всегда можете отложить понравившийся Вам товар, если еще не определились с покупкой. </p>
</a>

<a href="" class="widget details-widget">
    <h2>Мои данные</h2>
    <p>В этом разделе Вы можете при желании добавить новые данные о себе, изменить телефон или другие параметры.</p>
</a>

<a href="" class="widget delivery-widget">
    <h2>Мои рассылки</h2>
    <p>В этом разделе Вы сможете увидеть все текущие рассылки. </p>
</a>

<a href="" class="widget poned-widget">
    <h2>Мои сообщения</h2>
    <p>В этом раздели Вы можете увидеть все сообщения поступившие вам. </p>
</a>

<a href="" class="widget discount-widget">
    <h2>Мои обращения</h2>
    <p>Вы можете увидеть все ваши обращения по каким-либо замечаниям или предложениям. </p>
</a>

<a href="" class="widget history-widget">
    <h2>Настройки</h2>
    <p> В этом разделе Вы сможете настроить свой личный кабинет. </p>
</a>

<a href="" class="widget wallet-widget">
    <h2>Выйти</h2>
    <p>Выйти из личного кабинета. </p>
</a>

