<div class="index_container">
    <div class="image_container_one">
        <a href="/home/catalog/womens">
            <img src="~/Files/Images/SlidesIndex/slide4.jpg" />
        </a>
    </div>
    <div class="image_container_two">
        <img src="~/Files/Images/SlidesIndex/skidki1.jpg" />
    </div>
    <div class="image_container_three">
        <img src="~/Files/Images/SlidesIndex/skidki2.jpg" />
    </div>
</div>

<carousel carousel-title="Новинки" carousel-data-url="/Home/LoadCarouselIndex"></carousel>