<div class="index_container">
    <div class="image_container_one">
        <a href="/home/catalog/womens">
            <img src="~/Files/Images/SlidesIndex/slide4.jpg" />
        </a>
    </div>
    <div class="image_container_two">
        <img src="~/Files/Images/SlidesIndex/skidki1.jpg" />
    </div>
    <div class="image_container_three">
        <img src="~/Files/Images/SlidesIndex/skidki2.jpg" />
     </div>
</div>

<div class="carousel" ng-controller="IndexCtrl" ng-show="slideDeclarations">
    <h4>Новинки</h4>
    <div class="silde_back" ng-click="slideMove('back')"></div>
    <div class="carousel_container">
        <div class="carousel_content">
            <div ng-repeat="declaration in slideDeclarations" class="carousel_item">
                <div class="carousel_image">
                    <a href="/home/declaration/{{declaration.Id}}">
                        <img ng-src="/Files/{{declaration.ImagePath}}" />
                    </a>
                </div>
                <div class="carousel_detail">
                    <span class="slide_title" ng-bind="declaration.Title"></span>
                    <span class="slide_price" ng-bind="declaration.Coast != null ? (declaration.Coast | number) + ' р.' : '' "></span>
                </div>
            </div>
        </div>
    </div>
    <div class="silde_next" ng-click="slideMove('next')"></div>
</div>